ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	overflow: hidden;
	width: 100%;
	background-color: lightgrey;
	top: 0;
}

li.nav {
	float: left;
	background-color: lightgrey;
	display: inline;
}

li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	color: black;
	font-size: 120%;
}

li a:hover {
	background-color: maroon;
	color: white;
}
  
.title{
	text-align: center;
	padding: 190px 0px;
}

.body{
	color: white;
	font-size: 120%;
}
